* {
    margin: 0px;
    padding:0px;
}
.header {
    background-image: url(./Img_css/patas.relleno.jpg);
    background-repeat: repeat;
    width:inherit;
    height: 250px;
    display: flex;
    flex-direction: column;
    color: black;
    vertical-align: middle;
}
nav{
    width: inherit;
    vertical-align: middle;
}
.header_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    background-color:black;
    position: absolute;
    top: 210px;
    height: 40px;
    width: 100%;
    font-size: 20px;
    font-family: sans-serif;
    justify-items: center;
}
header h1 {
    width: fit-content;
    font-family: sans-serif;
    font-size: 40px;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    position:relative;
    left: 10px;
    top: 10px;
    padding:4px;
}
header nav ul li {
    height: 20px;
    justify-items: center;
    align-items: center;
}
footer {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 20px;
    background-color:black;
    color: white;
    padding-top: 25px;
    padding-bottom: 10px;
}
footer ul {
    list-style: none;
}
a {
    text-decoration: none;
}
a:visited {
    color:lightgray;
}
a:hover {
    color: white;
    background-image: radial-gradient(grey,black)
}
a:active {
    color: white;
    background-image: radial-gradient(white,black);
}
h3{
    font-family: sans-serif;
    padding: 10px;
    font-size: 25px;
}
p{
    font-family: sans-serif;
    padding-left: 40px;
    font-size: 20px;
}
.main_resto {
    width: 750px;
    height: 750px;
    margin: 25px;
    border: solid;
    border-color: black;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 800px;
    position: relative;
}
main::before {
    content: '';
    background-image: url(./Img_css/razas-de-perro-adiestrar-t.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    z-index: -1;
    width: 100%;
    opacity: 0.3;
    position: absolute;
}